/*ÉLÉMENTS CACHÉS, SERVANT POUR LE RESPONSIVE DESIGN*/
#responsive_pic
{
    display: none;
}

#responsive_about
{
    display: none;
}

/*ÉLÉMENTS POUR L'AFFICHAGE BUREAU*/

/*STRUCTURE GÉNÉRALE DE LA PAGE*/
body
{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: auto;
    background-color: #EEEEEE;
}

main
{
    width: 70%;
    height: auto;
    background-color: #E1F5FE;
}

aside
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color: #42A5F5;
}

h1, h2
{
    text-transform: uppercase;
}

a:link
{
    text-decoration: none;
}

/*PARAMÈTRES PARTIE GAUCHE*/
aside img
{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 25px auto;
    padding: 0px;
    border-radius: 50%;
    border: solid #0D47A1 5px;
}

aside h2
{   
    color: #64A082;
    background-color: #222;
    text-align: center;
    letter-spacing: 5px;
    font-size: x-large;
    padding: 5px 0px 5px 0px;
}

.contact_list
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0px 15px;
}

.contact_list li
{
    list-style-type: none;
}

.contact_list i
{
    padding: 2px;
    font-size: 20px;
}

.about
{
    flex: 1;
    text-align: center;
}

.about p
{
    margin: 40px;
}

.leisure div
{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 50px 10px;
}

.leisure i
{
    border: solid 2px black;
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    height: 40px;
    width: 50px;
}

.leisure i:hover
{
    color: #4DD0E1;
    border: solid 2px #52856b;
    border-radius: 50%;
    box-shadow: 0px 5px 5px 5px;
}

/*PARAMÈTRES PARTIE DROITE*/
#main_header
{
    margin: 70px 50px 70px 50px;
}


#name_deco
{
    color: #42A5F5;
}

#job_deco
{
    border-bottom: solid 2px #42A5F5;
    width: 90%;
}

#job_name
{
    text-transform: capitalize;
} 

#formation, #exp, #recommandation
{
    margin: 0px 50px 10px 50px;
    padding: 0px 25px 0px 0px;
}

#formation header, #exp header, #recommandation header
{
    border-bottom: 3px solid #0D47A1;
    margin-bottom: 35px;
}

.fa-user-graduate, .fa-user-tie, .fa-user-edit
{
    float: left;
    padding: 0px 5px;
    margin: 0px 15px 0px 2px;
    font-size: 30px;
}

#formation h2, #exp h2, #recommandation h2
{
    margin-bottom: 10px;
}
/*Difficulté d'ajustement pour les éléments des parties FORM & EXP*/
#formation ul, #exp ul
{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: -25px;
}


#formation li, #exp li
{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 25px 0px 0px 5px;
}
/*Fin difficultés*/
.fa-dot-circle
{
    padding-right: 10px;
    padding-top: 1px;
}

.fa-circle
{
    padding-right: 10px;
    padding-top: 5px;
    font-size: 10px;
}

.d-p_container
{
    padding: 0px;
    min-width: 200px;
}

.date
{
    width: 180%;
}
/*STOP*/
.description_container
{
    align-items: flex-start;
    text-align: start;
}

.enterprise
{
    text-transform: uppercase;
}

#recommandation ul
{
display: flex;
flex-direction: row;
justify-content: flex-start;
padding: 15px 0px 10px 0px;
margin-top: -25px;
list-style-type: none;
}

#recommandation address
{
    margin: 0px 100px 0px 5px;
}

#recommandation
{
    margin: 0px 0px 50px 50px;
}