/* CSS RESPONSIVE Grands terminaux (997px à 1200px et plus)*/
/*ÉLÉMENTS CACHÉS, SERVANT POUR LE RESPONSIVE DESIGN*/

#responsive_pic 
{
  display: none;
}

#responsive_about 
{
  display: none;
}

/*STRUCTURE GÉNÉRALE DE LA PAGE*/

body 
{
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  margin: auto;
  background-color: #eeeeee;
}

main 
{
  width: 70%;
  height: auto;
  background-color: #e1f5fe;
}

aside 
{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #42a5f5;
  font-family: "Trebuchet MS", "Arial", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1, h2 
{
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a 
{
  color: black;
}

a:link 
{
  text-decoration: none;
}

a:hover {
  color: #80cbc4;
}

/*PARAMÈTRES PARTIE GAUCHE*/
aside img 
{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 25px auto;
  padding: 0px;
  border-radius: 50%;
  border: solid #0d47a1 5px;
}

aside h2 
{
  color: #64a082;
  background-color: #222;
  text-align: center;
  letter-spacing: 5px;
  font-size: x-large;
  padding: 5px 0px 5px 0px;
}

.contact_list 
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0px 15px;
}

.contact_list li 
{
  list-style-type: none;
}

.contact_list i 
{
  padding: 2px;
  font-size: 20px;
}

.contact_list p 
{
  font-size: 105%;
}

.about 
{
  flex: 1;
  text-align: justify;
}

.about p 
{
  margin: 40px;
  font-size: 110%;
}

.leisure div 
{
  display: flex;
  justify-content: space-around;
  padding: 10px 10px 50px 10px;
}

.leisure i 
{
  border: solid 2px black;
  border-radius: 50%;
  padding: 10px;
  font-size: 40px;
  height: 40px;
  width: 50px;
}

.leisure i:hover 
{
  color: #4dd0e1;
  border: solid 2px #52856b;
  border-radius: 50%;
  box-shadow: 0px 5px 5px 5px;
}

/*PARAMÈTRES PARTIE DROITE*/
#main_header 
{
  margin: 70px 50px 70px 50px;
}

#name_deco 
{
  color: #42a5f5;
}

#job_deco 
{
  border-bottom: solid 2px #42a5f5;
  width: 90%;
}

#job_name 
{
  text-transform: capitalize;
}

main .enterprise 
{
  font-weight: bold;
}

#formation, #exp, #recommandation 
{
  margin: 0px 50px 10px 50px;
  padding: 0px 25px 0px 0px;
}

#formation header, #exp header, #recommandation header 
{
  border-bottom: 3px solid #0d47a1;
  margin-bottom: 35px;
}

.fa-user-graduate, .fa-user-tie, .fa-user-edit 
{
  float: left;
  padding: 0px 5px;
  margin: 0px 15px 0px 2px;
  font-size: 30px;
}

#formation h2, #exp h2, #recommandation h2 
{
  margin-bottom: 10px;
}

#formation ul, #exp ul 
{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: -25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#formation li, #exp li 
{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 25px 0px 0px 5px;
}

.fa-dot-circle 
{
  padding-right: 10px;
  padding-top: 4px;
}

.fa-circle 
{
  padding-right: 10px;
  padding-top: 7px;
  font-size: 10px;
}

.d-p_container 
{
  padding-top: 1px;
  min-width: 200px;
  font-size: 90%;
}

.date 
{
  width: 100%;
}

.description_container 
{  
  align-items: flex-start;
  text-align: start;
}

.description_container p 
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.post 
{
  text-transform: uppercase;
  font-size: 90%;
  line-height: 2em;
}

#recommandation ul 
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 15px 0px 10px 0px;
  margin-top: -25px;
  list-style-type: none;
}

#recommandation address 
{
  margin: 0px 100px 0px 5px;
}

#recommandation 
{
  margin: 0px 0px 50px 50px;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", "Arial", sans-serif;
  font-size: 80%;
}

/*CSS RESPONSIVE POUR ORDINATEUR MOYEN*/
/*Terminaux intermédiaire*/
@media only screen and (min-width: 1024px) and (max-width: 1280px) 
{
  body 
  {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin: auto;
    background-color: #eeeeee;
    font-size: 90%;
  }

  #recommandation 
  {
    font-size: 95%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) 
{
  body 
  {
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    margin: auto;
    background-color: #eeeeee;
  }

  #formation, #exp, #recommandation 
  {
    margin: 50px 50px 20px 50px;
    padding: 4px 25px 0px 0px;
  }

  #formation ul, #exp ul 
  {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: -25px;
    font-size: 90%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }

  .about 
  {
    font-size: 90%;
  }

  .contact_list 
  {
    font-size: 90%;
  }
}

/*CSS RESPONSIVE POUR TABLETTE*/
/* Terminaux médians (Tablette, 768px à 992px)*/
@media only screen and (min-width: 768px) and (max-width: 992px) 
{
  body 
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #eeeeee;
  }

  main 
  {
    width: 100%;
    height: auto;
    background-color: #e1f5fe;
  }

  #main_header 
  {
    margin: 40px 50px 40px 50px;
    text-align: center;
  }

  #responsive_pic 
  {
    display: contents;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #42a5f5;
  }

  #responsive_pic img 
  {
    display: block;
    margin: auto;
    height: auto;
    width: 22%;
    border-radius: 50%;
    border: solid #0d47a1 5px;
  }

  #responsive_about 
  {
    display: contents;
    font-family: "Trebuchet MS", "Arial", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #responsive_about h2 
  {
    text-align: center;
    margin: auto;
    color: #64a082;
    background-color: #222;
    text-align: center;
    letter-spacing: 5px;
    font-size: x-large;
    padding: 5px 0px 5px 0px;
  }

  #responsive_about p 
  {
    padding: 20px 100px 25px 100px;
    text-align: center;
    background-color: #42a5f5;
    margin: auto;
  }

  #formation, #exp, #recommandation 
  {
    margin: 50px 50px 20px 50px;
    padding: 4px 25px 0px 0px;
    font-size: 85%;
  }

  #recommandation ul 
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px 0px 10px 0px;
    margin-top: -25px;
    list-style-type: none;
  }

  aside 
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #42a5f5;
    font-family: "Trebuchet MS", "Arial", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  aside img 
  {
    display: none;
  }

  aside .about 
  {
    display: none;
  }

  .contact_list 
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 10px 0px 0px 0px;
    justify-content: space-around;
    font-size: 90%;
  }

  .contact 
  {
    margin-bottom: -20px;
    height: 170px;
    margin-top: -20px;
  }

  .contact_list i 
  {
    padding: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .leisure div 
  {
    padding: 5px 10px 30px 10px;
  }

  .leisure i 
  {
    border: solid 2px black;
    border-radius: 50%;
    padding: 10px;
    font-size: 35px;
    height: 35px;
    width: 45px;
  }
}

/*CSS RESPONSIVE pour smartphone et tablettes*/
/* Moyens-petits terminaux (Grands smartphones et petites tablettes, 600px and up)*/
@media only screen and (min-width: 600px) and (max-width: 768px) 
{
  body 
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #eeeeee;
  }

  main 
  {
    width: auto;
  }

  #main_header 
  {
    margin: 35px 50px 35px 50px;
    text-align: center;
    font-size: 80%;
  }

  #responsive_pic 
  {
    display: contents;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #42a5f5;
  }

  #responsive_pic img 
  {
    display: block;
    margin: auto;
    height: auto;
    width: 22%;
    border-radius: 50%;
    border: solid #0d47a1 5px;
  }

  #responsive_about 
  {
    display: contents;
    font-family: "Trebuchet MS", "Arial", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #responsive_about h2 
  {
    text-align: center;
    margin: auto;
    color: #64a082;
    background-color: #222;
    text-align: center;
    letter-spacing: 5px;
    font-size: x-large;
    padding: 5px 0px 5px 0px;
  }

  #responsive_about h2, .leisure h2, .contact h2 
  {
    font-size: 100%;
  }

  #responsive_about p 
  {
    padding: 15px 100px 15px 100px;
    text-align: center;
    background-color: #42a5f5;
    margin: auto;
    font-size: 80%;
  }

  #formation, #exp, #recommandation 
  {
    margin: 0px 50px 35px 50px;
    padding: 20px 0px 0px 0px;
    font-size: 80%;
  }

  #recommandation ul 
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0px 0px 75px;
    margin-top: -25px;
    list-style-type: none;
  }

  #recommandation address 
  {
    margin: 0px 100px 0px 5px;
  }

  aside 
  {
    width: auto;
  }

  aside img 
  {
    display: none;
  }

  aside .about 
  {
    display: none;
  }

  .contact_list 
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 10px 0px 0px 0px;
    justify-content: space-around;
    font-size: 75%;
  }

  .contact 
  {
    margin-bottom: -35px;
    height: 170px;
    margin-top: -20px;
  }

  .contact_list 
  {
    font-size: 75%;
  }

  .contact_list i 
  {
    padding: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .leisure div 
  {
    padding: 5px 10px 30px 10px;
  }

  .leisure i 
  {
    border: solid 2px black;
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
    height: 30px;
    width: 38px;
  }
}

/*CSS pour smartphones*/
/*Petits terminaux (Smartphones moyenne et petite taille, 600px et moins) */
@media only screen and (max-width: 600px) 
{
  body 
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #eeeeee;
  }

  main 
  {
    width: auto;
  }

  #main_header 
  {
    margin: 35px 50px 35px 50px;
    text-align: center;
    font-size: 80%;
  }

  h1 
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #job_name 
  {
    display: block;
    margin: 20px;
  }

  #responsive_pic 
  {
    display: contents;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #42a5f5;
  }

  #responsive_pic img 
  {
    display: block;
    margin: auto;
    height: auto;
    width: 45%;
    border-radius: 50%;
    border: solid #0d47a1 5px;
  }

  #responsive_about 
  {
    display: contents;
    font-family: "Trebuchet MS", "Arial", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #responsive_about h2 
  {
    text-align: center;
    margin: auto;
    color: #64a082;
    background-color: #222;
    text-align: center;
    letter-spacing: 5px;
    font-size: x-large;
    padding: 5px 0px 5px 0px;
  }

  #responsive_about h2, .leisure h2, .contact h2 
  {
    font-size: 100%;
  }

  #responsive_about p 
  {
    padding: 15px 50px 15px 50px;
    text-align: center;
    background-color: #42a5f5;
    margin: auto;
    font-size: 80%;
  }

  #formation, #exp, #recommandation 
  {
    margin: 0px 25px 32px 25px;
    padding: 20px 0px 0px 0px;
    font-size: 80%;
  }

  #formation header, #exp header, #recommandation header 
  {
    border-bottom: 3px solid #0d47a1;
    margin-bottom: 35px;
    display: flex;
  }

  #formation header .fas 
  {
    margin: 15px 0px 0px 0px;
  }

  #exp header .fas 
  {
    margin: 31px 0px 0px -5px;
  }

  #formation h2 
  {
    font-size: 150%;
    margin: 15px 10px 10px 10px;
  }

  #exp h2 
  {
    margin: 15px 10px 5px 45px;
  }

  #recommandation h2 
  {
    margin: 15px 0px 0px -10px;
  }

  #formation li, #exp li 
  {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 25px 0px 0px 5px;
  }

  #exp div i 
  {
    display: block;
    position: absolute;
    padding-left: 10px;
  }

  #formation li i, #exp li i 
  {
    display: none;
  }

  .fa-user-edit 
  {
    float: inline-start;
    padding: 0px 0px;
    margin: 15px 25px 2px 2px;
    font-size: 30px;
  }

  #recommandation ul 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px 0px 0px;
    margin-top: -25px;
    list-style-type: none;
  }

  #recommandation li 
  {
    margin-bottom: 35px;
  }

  #recommandation address 
  {
    margin: 0px 100px 0px 5px;
  }

  aside 
  {
    width: auto;
  }

  aside img 
  {
    display: none;
  }

  aside .about 
  {
    display: none;
  }

  .contact_list 
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 10px 0px 0px 0px;
    font-size: 75%;
  }

  .contact 
  {
    margin-top: -20px;
  }

  .contact_list 
  {
    font-size: 75%;
  }

  .contact_list i 
  {
    padding: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .contact_list p 
  {
    font-size: 100%;
    text-align: center;
  }

  .leisure div 
  {
    padding: 5px 10px 30px 10px;
  }

  .leisure i 
  {
    border: solid 2px black;
    border-radius: 50%;
    padding: 5px;
    font-size: 30px;
    height: 30px;
    width: 38px;
  }
}
